Repository auto-differentiation/xad, pull requests merged in 2023-05, with the labels that each got.

#52 Add copysign math function + improve tests
  CHANGELOG.md
  doc/ref/math.rst
  src/XAD/StdCompatibility.hpp
  src/XAD/UnaryMathFunctors.hpp
  src/XAD/UnaryOperators.hpp
  test/ExpressionMath1_test.cpp
  test/ExpressionMath2_test.cpp
  test/ExpressionMath3_test.cpp
  test/StdCompatibility_test.cpp
  test/TestHelpers.hpp
Labels: doc, src, test

#53 Enable copysign(double, <AD>) type of expressions
  src/XAD/UnaryOperators.hpp
  test/ExpressionMath3_test.cpp
Labels: src, test

#56 Fixes Codacy code quality issues - mostly markdown formatting
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SECURITY.md
  .github/pull_request_template.md
  CHANGELOG.md
  README.md
  src/XAD/BinaryMathFunctors.hpp
  src/XAD/ChunkContainer.hpp
  src/XAD/Complex.hpp
  src/XAD/Literals.hpp
  src/XAD/ReusableRange.hpp
Labels: src

#58 Reformat all files according to clang-format specs
  src/XAD/BinaryExpr.hpp
  src/XAD/BinaryMathFunctors.hpp
  src/XAD/ChunkContainer.hpp
  src/XAD/Complex.hpp
  src/XAD/Expression.hpp
  src/XAD/Literals.hpp
  src/XAD/Macros.hpp
  src/XAD/MathFunctions.hpp
  src/XAD/ReusableRange.hpp
  src/XAD/StdCompatibility.hpp
  src/XAD/Tape.hpp
  src/XAD/UnaryExpr.hpp
  src/XAD/UnaryMathFunctors.hpp
  src/XAD/UnaryOperators.hpp
  src/XAD/XAD.hpp
  test/Checkpointing_test.cpp
  test/ChunkContainer_test.cpp
  test/Complex_test.cpp
  test/Exceptions_test.cpp
  test/ExpressionMath3_test.cpp
  test/ExpressionMeta_test.cpp
  test/ExpressionsConversion_test.cpp
  test/Expressions_test.cpp
  test/HigherOrder_test.cpp
  test/PartialRollback_test.cpp
  test/ReusableRange_test.cpp
  test/StdCompatibility_test.cpp
  test/Tape_test.cpp
Labels: src, test

#57 Exception when tape is null
  src/XAD/Literals.hpp
  test/Exceptions_test.cpp
Labels: src, test
